/* header */

header {
  position: sticky;
  top: 0;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
  background-color: var(--color-1);
  border-bottom: 0.5px solid #E6E7EB;
}

/* icon and h1 */

#logo-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

#logo-group h1 {
  font-weight: 400;
  margin: 0;
  font-size: 1.5rem;
}
#logo-group h1 span:first-of-type {
  color: var(--color-4);
}
#logo-group h1 span:last-of-type {
  color: var(--color-3);
}

#logo-group img {
  width: 33px;
  aspect-ratio: 1/1;
} 

/* navigation */

#navigation {
  display: flex;
  align-items: center;
}

#menu-button {
  display: none;
  cursor: pointer;
}

.menu-button-line-0,
.menu-button-line-1,
.menu-button-line-2,
.menu-button-line-3 {
  transition: 1s;
}

.nav-sections {
  --separator: 0.5px solid var(--color-5);
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--color-5);
  border-right: var(--separator);
}

.nav-sections li {
  position: relative;
  /* margin: 0 20px; */
  padding: 0 20px;
  font-size: 1.25rem;
  cursor: pointer;
}
.nav-sections li.active {
  font-weight: 700;
  color: var(--color-4);
}
.nav-sections li.active::first-letter {
  border-bottom: 2px solid var(--color-4);
}

/* nav icons */

.nav-icons {
  padding-left: 15px;
  display: flex;
}
.nav-icon {
  position: relative;
  margin: 0 10px;
  width: 28px;
  height: 28px;
  background-size: 100%;
  background-position: center;
  cursor: pointer;
}

.nav-search {
  background-image: url(../media/images/icons/search.png);
}
.nav-favorites {
  background-image: url(../media/images/icons/favorites.png);
}
.nav-cart {
  background-image: url(../media/images/icons/cart.png);
}
.nav-user {
  background-image: url(../media/images/icons/user.png);
}

.nav-favorites-count,
.nav-cart-count {
  box-sizing: border-box;
  --size: 16px;
  position: absolute;
  top: -3px;
  right: -4px;
  margin: 0;
  min-width: var(--size);
  height: var(--size);
  padding: 0 2px;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: var(--size);
  font-size: 13px;
  border-radius: var(--size);
  background-color: var(--color-5);
}

.nav-cart.has-content {
  background-image: url(../media/images/icons/cart-active.png);
}
.nav-favorites.has-content {
  background-image: url(../media/images/icons/favorites-active.png);
}
.nav-cart.has-content .nav-cart-count,
.nav-favorites.has-content .nav-favorites-count {
  background-color: var(--color-4);
}

.counter-animate {
  animation: counter-pulse 250ms linear;
}

@keyframes counter-pulse {
  0%, 100% { scale: 100%; }
  30% { scale: 110% }
  0% { outline: 0px solid var(--color-2) }
  100% { outline: 10px solid transparent }
}

/* responsiveness */

@media only screen and (max-width: 800px) {
  #navigation {
    --gap: 5px;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--color-1);
    flex-direction: column;
    gap: var(--gap);
    padding: 10px;
  }
  #navigation.nav-show {
    display: flex;
  }

  #menu-button {
    display: block;
  }

  .nav-sections {
    flex-direction: column;
    border-right: none;
    /* border-bottom: var(--separator); */
    gap: var(--gap);
  }

  .nav-sections li {
    margin: 0;
  }

  .nav-icons {
    padding-left: 20px;
    flex-direction: column;
    width: 100%;
    gap: var(--gap);
  }

  .nav-icon {
    background-image: none;
  }
  .nav-icon::after {
    position: absolute;
    font-size: 1.25rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
  }
  .nav-search::after {
    content: "Search";
  }
  .nav-favorites::after {
    content: "Favorites";
  }
  .nav-cart::after {
    content: "Cart";
  }
  .nav-user::after {
    content: "User";
  }
  .nav-favorites-count,
  .nav-cart-count {
    display: inline-block;
    right: 100%;
    opacity: .75;
  }
  .nav-icon.has-content {
    background-image: none;
  }
}
