/* hero section */

.home-hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "... hero-div";
  justify-items: left;
  align-items: center;
  height: 770px;
  background-image: url(../media/images/home/hero.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: #eef2f9;
  background-position: 50%;
}

.home-hero-div {
  grid-area: hero-div;
}

.home-hero-div > p {
  font-size: 96px;
  margin: 0;
  line-height: 100px;
  text-indent: 10px;
  display: flex;
  flex-direction: column;
  font-weight: 200;
  transform: translateX(-10px);
}

.home-hero-div svg {
  width: 300px;
  height: 85px;
  transform: translateX(-16px);
}
.home-hero-div svg text {
  font-weight: 800;
  font-size: 96px;
  fill: var(--color-4);
}

.home-hero-div button {
  width: 410px;
  height: 74px;
  background: linear-gradient(93.17deg, #1F604A 0%, #3C8B3F 204.59%);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.home-hero-div button p {
  display: inline-block;
  font-size: 24px;
  padding: 15px;
  line-height: 33px;
  margin: 0;
  color: #E6E7EB;
}
.home-hero-div button img {
  display: inline-block;
  Width: 15.58px;
  Height: 15.15px;
}

/* about section */

.home-about {
  height: 613px;
  background-color: var(--color-1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "about image";
}

.home-about-div {
  grid-area: about;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-about-div img {
  width: 118px;
  height: 38px;
}

.home-about-div h2 {
  color: var(--color-4);
  max-width: 440px;
  font-weight: 800;
  font-size: 40px;
  margin: 1rem;
  text-align: center;
}

.home-about-div p {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  max-width: 516px;
  margin: 1rem;
}

.home-about-image-div {
  grid-area: image;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 68px solid var(--color-2);
  border-right: none;
  background: linear-gradient(
    to bottom,
    transparent,
    transparent 46px,
    #e9e8e4 46px,
    #e9e8e4 calc(100% - 46px),
    transparent calc(100% - 46px)
  );
}
.home-about-image-div img {
  box-sizing: border-box;
  width: auto;
  height: 100%;
  border: 46px solid #FEFFFF;
  border-right: none;
}

/* categories section */

.home-categories {
  box-sizing: border-box;
  --card-size: 420px;
  min-height: 612px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-size), 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #EEF1F6;
  align-items: center;
  justify-items: center;
}

.category-card {
  width: var(--card-size);
  height: 488px;
  background-color: var(--color-1);
  display: grid;
  grid-template-rows: repeat(3, auto) 1fr;
}

.category-card h2 {
  color: var(--color-4);
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 8px;
}

.category-card hr {
  width: 35px;
  border: 1px solid var(--color-4);
  margin: 0;
  margin-bottom: 16px;
  justify-self: center;
}

.category-card button {
  justify-self: center;
  color: #E6E7EB;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  background-color: var(--color-4);
  padding: 14px 40px;
  border: none;
  cursor: pointer;
}

.category-card img {
  width: 100%;
  align-self: self-end;
}