/* categories section */

.shop-categories {
  height: 70px;
  background-color: var(--color-1);
}

.shop-categories ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.shop-categories li {
  font-weight: 300;
  text-align: center;
  color: #201E1F;
  padding: 24px 12px;
  cursor: pointer;
}
.shop-categories li.active {
  font-weight: 600;
  color: var(--color-4);
}

/* banner section */

.shop-banner {
  height: 156px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(31, 96, 74, 0.82), rgba(31, 96, 74, 0.82)), url(../media/images/shop/shop-banner.jpg), #D9D9D9;
  background-size: cover;
  background-position: 50% 60%;
}

.shop-banner h1 {
  margin: 0;
  color: var(--color-1);
  font-weight: 400;
  font-size: 1.5rem;
}

/* catalog section */

.shop-catalog {
  padding: 40px 32px 50px;
  background-color: var(--color-1);
}

.shop-filter {
  display: flex;
  justify-content: space-between;
}

.shop-filter p {
  --icon-size: 21px;
  --icon-distance: 6px;
  position: relative;
  padding-left: calc(var(--icon-size) + var(--icon-distance));
  color: #201E1F;
  margin: 0;
}

.shop-filter p::before {
  position: absolute;
  content: '';
  width: var(--icon-size);
  height: var(--icon-size);
  aspect-ratio: 1/1;
  background: url(../media/images/icons/filter.png);
  background-size: 100%;
  transform: translateX(
    calc((var(--icon-size) * -1) + (var(--icon-distance) * -1))
  );
}

.shop-filter select {
  box-sizing: border-box;
  width: 230px;
  height: 50px;
  font-family: 'Nunito Sans';
  font-weight: 300;
  font-size: 16px;
  color: #201E1F;
  padding-left: 16px;
  border: 0.5px solid #7C9C91;
  border-radius: 4px;
  background-color: var(--color-1);
}

.shop-articles {
  --card-width: 320px;
  --gap: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
  margin-top: var(--gap);
  gap: var(--gap);
}

/* card element */

.shop-card {
  position: relative;
  --btn-div-height: 52px;
  width: var(--card-width);
  height: 470px;
  display: grid;
  grid-template-rows: var(--card-width) repeat(3, auto) var(--btn-div-height);
}

.shop-card-image{
  --transition: 300ms ease-in-out;
  position: relative;
  background-size: 100%;
  background-position: center;
  transition: var(--transition);
}
.shop-card:hover .shop-card-image {
  background-size: 110%;
}

.shop-card-image-hover {
  --mask-width: 2px;
  position: absolute;
  background-size: 100%;
  background-position: center;
  inset: 0;
  /* mix-blend-mode: exclusion; */
  mask-image: repeating-radial-gradient(
    black 0px,
    black calc(var(--mask-width) - 1px),
    transparent var(--mask-width),
    transparent calc(var(--mask-width) * 2 - 1px),
    black calc(var(--mask-width) * 2)
    );
  transition: var(--transition);
}
.shop-card:hover .shop-card-image-hover {
  background-size: 120%;
  opacity: 0;
}

.shop-card-category{
  margin: 0;
  margin-top: 12px;
  font-weight: 300;
  font-size: 16px;
  color: var(--color-4);
}

.shop-card-name{
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  color: var(--color-5);
}

.shop-card-price{
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  columns: var(--color-5);
  margin-bottom: 8px;
}

.shop-card-button-div{
  height: var(--btn-div-height);
  outline: 1px solid gray;
  display: grid;
  grid-template-columns: 1fr repeat(2, auto);
  border: 1px solid #1F604A;
  border-radius: 4px;
  overflow: hidden;
}

.shop-card-buy {
  height: var(--btn-div-height);
  color: var(--color-4);
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 1.25rem;
  background-color: transparent;
  border: none;
}

.shop-card-add,
.shop-card-remove {
  width: var(--btn-div-height);
  background-color: transparent;
  border: none;
}
.shop-card-add {
  border-left: 1px solid #1F604A;
}
.shop-card[data-amount="0"] .shop-card-add,
.shop-card[data-amount="0"] .shop-card-remove {
  display: none;
}

/* favorite checkbox */

.shop-card-fav {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 28px;
  height: 28px;
  appearance: none;
  background-color: transparent;
  background-image: url(../media/images/icons/favorite-btn-active.svg);
  background-position: center;
  background-size: 100%;
  opacity: .5;
  transition: opacity 200ms linear;
  cursor: pointer;
}
.shop-card-fav:checked {
  opacity: 1;
}
.shop-card-fav:checked:focus:not(:active) {
  animation: heartCheck 800ms ease-in-out;
}
.shop-card-fav:not(:checked):focus:not(:active) {
  animation: heartUncheck 500ms ease-in-out;
}
@keyframes heartCheck {
  0%, 100% { scale: 100%; }
  30% { scale: 130%; }
  60% { scale: 80%; }
}
@keyframes heartUncheck {
  0%, 100% { scale: 100%; }
  60% { scale: 80%; }
}