@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap');

:root {
  --color-1: #fafffe;
  --color-2: #7c9c91;
  --color-3: #3c8b3f;
  --color-4: #1f604a;
  --color-5: #201e1f;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--color-2);
}

main {
  width: 100%;
}